.modal {
    overflow: hidden;
}

.badge-pad {
    padding: 10px;
}

.thumb {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 100px;
    height: 100px;
    float: left;
}

.card-thumb {
    padding: 5px;
    width: 200px;
    height: auto;
    float: left;
}

a:link {
    color: black;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.imageItem {
    float:left;
}

.imageList {
    display: inline-block;
}