{% extends "authorization/base.html" %}
{% block title %}Authorization{% endblock %}
{% block content %}
    {% load material_form %}
    <div ng-controller="UserDataController">
        <!-- Modal Structure -->
        <div id="authModal" class="modal modal-fixed-footer">
            <form ng-submit="submitForm()">
                <div class="modal-content">
                    <h4>Login or register</h4>
                    <div class="row">
                        <div class="col s12">
                            <ul class="tabs">
                                <li class="tab col s3"><a href="#register">Registration</a></li>
                                <li class="tab col s3"><a class="active" href="#login">Log in</a></li>
                            </ul>
                        </div>
                        <div id="register" class="col s12">
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="username" type="text" class="validate" ng-model="userdata.username">
                                    <label for="username">Username</label>
                                </div>
                                <div class="input-field col s12">
                                    <input id="email" type="email" class="validate" ng-model="userdata.email">
                                    <label for="email" data-error="wrong" data-success="right">Email</label>
                                </div>
                                <div class="input-field col s12">
                                    <input id="password1" type="password" class="validate"
                                           ng-model="userdata.password1">
                                    <label for="password1">Password</label>
                                </div>
                                <div class="input-field col s12">
                                    <input id="password2" type="password" class="validate"
                                           ng-model="userdata.password2">
                                    <label for="password2">Confirm Password</label>
                                </div>
                            </div>
                        </div>
                        <div id="login" class="col s12">
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="username" type="text" class="validate" ng-model="userdata.username">
                                    <label for="username">Username</label>
                                </div>
                                <div class="input-field col s12">
                                    <input id="password" type="password" class="validate" ng-model="userdata.password">
                                    <label for="password">Password</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input class="modal-action waves-effect waves-green btn-flat" type="submit"/>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
