{% extends "authorization/base.html" %}
{% block title %}Authorization{% endblock %}
{% block content %}
    {% load material_form %}
    <div ng-controller="UserDataController">
        <!-- Modal Structure -->
        <div id="authModal" class="modal modal-fixed-footer">
            <form ng-submit="submitForm()">
                <div class="modal-content">
                    <h4>Login or register</h4>
                    <div class="row">
                        <div class="col s12">
                            <ul class="tabs">
                                <li class="tab col s3"><a href="#register">Registration</a></li>
                                <li class="tab col s3"><a class="active" href="#login">Log in</a></li>
                            </ul>
                        </div>
                        <div id="register" class="col s12">
                            {% form form=registration_form %}{% endform %}
                        </div>
                        <div id="login" class="col s12">
                            {% form form=login_form %}{% endform %}
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input class="modal-action waves-effect waves-green btn-flat" type="submit"/>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
