<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type='text/css'/>
    <script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
    {% include 'material/includes/material_css.html' %}
    {% include 'material/includes/material_js.html' %}
</head>
<body ng-app="authApp" class="grey lighten-3">
<div class="container">
    {% block breadcrumbs %}
    {% endblock %}
    {% block content %}

    {% endblock %}
</div>


<script src="{% static 'bower_components/angular/angular.min.js' %}"></script>
<script src="{% static 'js/authApp.js' %}"></script>
<script src="{% static 'js/Controllers.js' %}"></script>
</body>
</html>