{% extends "authorization/base.html" %}

{% block breadcrumbs %}
    <nav>
        <div class="nav-wrapper">
            <div class="col s12">
                <a href="{% url 'auth' %}" class="breadcrumb">Authorization</a>
                <a href="#" class="breadcrumb">Password reset</a>
            </div>
        </div>
    </nav>
{% endblock %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}

{% block content %}

    <div class="centered">
        <p>Your password has been set. You may go ahead and <a href="{% url 'auth' %}">log in</a> now.</p>
    </div>

{% endblock %}
