{% extends "authorization/password_reset_base.html" %}
{% load material_form %}

{% block content_title %}<h1>{{ title }}</h1>{% endblock %}
{% block content_in_control %}

    {% if validlink %}

        <div>
            <p>Please enter your new password twice so we can verify you typed it in correctly.</p>

            <form ng-submit="passwordSubmit()">

                {{ form.new_password1.errors }}
                <div class="input-field">
                    {{ form.new_password1 }}
                    {{ form.new_password1.label_tag }}
                </div>

                <div class="input-field">
                    {{ form.new_password2 }}
                    {{ form.new_password2.label_tag }}
                </div>
                {{ form.new_password2.errors }}
                <button class="btn waves-effect waves-light" type="submit" name="action">Change my password
                    <i class="material-icons right">send</i>
                </button>
            </form>

            {[{errors}]}
        </div>

    {% else %}

        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password
            reset.</p>

    {% endif %}

{% endblock %}
