<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type='text/css'/>
    <script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
    {% include 'material/includes/material_css.html' %}
    {% include 'material/includes/material_js.html' %}
</head>
<body ng-app="noteApp">

<div ng-controller="NoteController">
    <!-- Dropdown Structure -->
    <ul id="dropdown1" class="dropdown-content">
        <li><a href="{% url 'auth:logout' %}">Logout</a></li>
    </ul>
    <nav>
        <div class="nav-wrapper">
            <div class="brand-logo">
                <a href="/" class="">Notes</a>
                <a href="#" data-activates="slide-out" class="" id="sidenav-btn"><i class="material-icons">menu</i></a>
            </div>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a class="dropdown-button" href="#!" data-activates="dropdown1">{{ request.user.username }}<i
                        class="material-icons right">arrow_drop_down</i></a></li>
            </ul>
        </div>
    </nav>

    <ul id="slide-out" class="side-nav">
        <li><a class="subheader">Labels</a></li>
        <ul ng-repeat="label in labels">
            <li><a href="#!"><i class="material-icons">label</i>{[{label.name}]}</a></li>
        </ul>
        <li><a href="#">Add new label</a></li>
        <li>
            <div class="divider">Categories</div>
        </li>
        <ul ng-repeat="category in categories">
            <li><a href="#!"><i class="material-icons">label</i>{[{label.name}]}</a></li>
        </ul>
        <li><a href="#">Add new category</a></li>
    </ul>

    <div class="container">
        <div ng-repeat="note in notes" class="row">
    <div ng-if="note.image">
<div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img src="{[{note.image}]}">
            </div>
            <div class="card-content">
              <p>{[{note.text}]}</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>
    </div>
        <div ng-if="!note.image">
        <div class="col s12 m4">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <p>{[{note.text}]}</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>
    </div>

</div>
    </div>

</div>


<script src="{% static 'bower_components/angular/angular.min.js' %}"></script>
<script src="{% static 'bower_components/angular-resource/angular-resource.min.js' %}"></script>
<script src="{% static 'js/noteApp.js' %}"></script>
<script src="{% static 'js/NoteController.js' %}"></script>
<script src="{% static 'js/services.js' %}"></script>
</body>
</html>