<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type='text/css'/>
    <script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
    {% include 'material/includes/material_css.html' %}
    {% include 'material/includes/material_js.html' %}
</head>
<body ng-app="noteApp" class="blue-grey lighten-5">

<div ng-controller="NoteController" id="notectl">
    <!-- Dropdown Structure -->
    <ul id="dropdown1" class="dropdown-content">
        <li><a href="{% url 'auth:logout' %}">Logout</a></li>
    </ul>


    <ul id="slide-out" class="side-nav">
        <li><a class="subheader">Labels</a></li>
        <ul ng-repeat="label in labels">
            <li><a href="#!"><i class="material-icons">label</i>{[{label.name}]}</a></li>
        </ul>
        <li><a href="#">Add new label</a></li>
        <li>
            <div class="divider">Categories</div>
        </li>
        <ul ng-repeat="category in categories">
            <li><a href="#!"><i class="material-icons">label</i>{[{category.name}]}</a></li>
        </ul>
        <li><a href="#">Add new category</a></li>
    </ul>

    <div class="container">
        <nav class="deep-purple darken-1">
            <div class="nav-wrapper row">
                <div class="brand-logo">
                    <div class="col s2 offset-s2">
                        <a href="#" data-activates="slide-out" class="" id="sidenav-btn"><i
                                class="material-icons">menu</i></a>
                    </div>
                    <div class="col s6">
                        <a href="/" class="">Notes</a>
                    </div>
                </div>
                <form class="col s6 offset-s3 deep-purple darken-2">
                    <div class="input-field">
                        <input id="search" type="search" required ng-model="searchText">
                        <label for="search"><i class="material-icons">search</i></label>
                        <i class="material-icons">close</i>
                    </div>
                </form>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a class="dropdown-button" href="#!" data-activates="dropdown1">{{ request.user.username }}<i
                            class="material-icons right">arrow_drop_down</i></a></li>
                </ul>
            </div>
        </nav>
        <div class="row">
            <div ng-repeat="note in notes | filter:searchText">
                <div class="col s12 m4">
                    <div class="card {[{note.color}]}">
                        <div class="card-image" ng-if="note.image">
                            <img src="{[{note.image}]}">
                        </div>
                        <div class="card-content">
                            <div ng-repeat="label in note.labels" class="collection-item">
                                <span class="new badge">{[{labels[label-1].name}]}</span>
                                {[{test(labels[label-1].name)}]}
                            </div>
                            <p>{[{note.text | cut:true:100:' ...'}]}</p>
                        </div>

                        <div class="card-action">
                            <a href="#">Edit</a>
                            <a href="#">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="fixed-action-btn horizontal">
            <!-- Modal Trigger -->
            <a class="btn-floating btn-large waves-effect waves-light red modal-trigger" href="#noteModal">
                <i class="large material-icons">mode_edit</i>
            </a>
        </div>
        <!-- Modal Structure -->
        <div id="noteModal" class="modal modal-fixed-footer">
            <div class="row">
                <form class="col s12" ng-submit="sendNote()">
                    <div class="modal-content">

                        <div class="row">
                            <div class="input-field col s12">
                                <textarea placeholder="Take a note..." id="note_text" type="text"
                                          class="materialize-textarea" ng-model="curNote.text"></textarea>
                                <label for="note_text">Note text</label>
                                <div class="file-field input-field">
                                    <div class="btn">
                                        <span>File</span>
                                        <input type="file" ng-model="curNote.attachment">
                                    </div>
                                    <div class="file-path-wrapper">
                                        <input class="file-path validate" type="text">
                                    </div>
                                </div>
                                <div class="file-field input-field">
                                    <div class="btn">
                                        <span>Image</span>
                                        <input type="file" ng-model="curNote.image">
                                    </div>
                                    <div class="file-path-wrapper">
                                        <input class="file-path validate" type="text">
                                    </div>
                                </div>
                                <div class="input-field col s12">
                                    <select multiple id="label_select" ng-model="curNote.labels"
                                            ng-options="l.name for l in labels">
                                        <option value="" disabled selected id="def_l">Set labels</option>
                                    </select>
                                    <label>Labels</label>
                                </div>
                                <div class="input-field col s12">
                                    <select multiple id="category_select" ng-model="curNote.categories"
                                            ng-options="c.name for c in categories">
                                        <option value="" disabled selected>Add categories</option>
                                    </select>
                                    {[{activateSelect()}]}
                                    <label>Categories</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="modal-action modal-close waves-effect waves-green btn-flat" type="submit">Save
                        </button>
                        <button class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</button>
                    </div>
                </form>
            </div>


        </div>
    </div>
</div>


<script src="{% static 'bower_components/angular/angular.min.js' %}"></script>
<script src="{% static 'bower_components/angular-resource/angular-resource.min.js' %}"></script>
<script src="{% static 'js/noteApp.js' %}"></script>
<script src="{% static 'js/NoteController.js' %}"></script>
<script src="{% static 'js/services.js' %}"></script>
<script src="{% static 'js/filters.js' %}"></script>
</body>
</html>
