<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Note app</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type='text/css'/>
    <script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
    {% include 'material/includes/material_css.html' %}
    {% include 'material/includes/material_js.html' %}
</head>
<body ng-app="noteApp" class="blue-grey lighten-5">

<div ng-controller="NoteController" id="notectl">


    <!-- Dropdown Structure -->
    <ul id="dropdown1" class="dropdown-content">
        <li><a href="{% url 'logout' %}">Logout</a></li>
    </ul>

    <ul id="slide-out" class="side-nav">
        <li><a class="subheader">Labels</a></li>
        <li><a ng-click="editUserContentModal('labels')" href="#"> <i class="material-icons">mode_edit</i> EDIT</a></li>
        <ul ng-repeat="label in labels">
            <li><a href="#!" ng-click="setFilter(label.name)"><i class="material-icons">label</i>{[{label.name}]}</a>
            </li>
        </ul>
        <li><a href="#labelModal">Add new label</a></li>
        <li>
            <div class="divider">Categories</div>
        </li>
        <li><a class="subheader">Categories</a></li>
        <li><a ng-click="editUserContentModal('categories')" href="#"> <i class="material-icons">mode_edit</i> EDIT</a>
        </li>
        <ul ng-repeat="category in categories">
            <li><a href="#!" ng-click="setFilter(category.name)"><i class="material-icons">label</i>{[{category.name}]}</a>
            </li>
        </ul>
        <li><a href="#CategoryModal">Add new category</a></li>
        <li>
            <div class="divider"></div>
        </li>
        <li><a class="subheader">Collaboration</a></li>
        <li><a href="#shareModalDetail"><i class="material-icons">supervisor_account</i>Shared notes</a>
        </li>
        <li>
            <div class="divider"></div>
        </li>
        <li><a class="subheader">Uploaded content</a></li>
        <li><a href="#" ng-click="editUserContentModal('images')"><i class="material-icons">perm_media</i>Images</a>
        </li>
        <li><a href="#" ng-click="editUserContentModal('files')"><i class="material-icons">description</i>Files</a></li>

    </ul>

    <div class="container">
        <div class="row">
            <nav class="deep-purple darken-1">
                <div class="nav-wrapper">
                    <div class="brand-logo col s3 pull-s0">
                        <div class="">
                            <a href="#" data-activates="slide-out" class="" id="sidenav-btn"><i
                                    class="material-icons">menu</i></a>
                        </div>
                        <div class="">
                            <a href="/" class="">Notes</a>
                        </div>
                    </div>
                    <form class="col s6 deep-purple darken-2 hide-on-med-and-down">
                        <div class="input-field">
                            <input id="search" type="search" required ng-model="searchText">
                            <label for="search"><i class="material-icons">search</i></label>
                            <i class="material-icons">close</i>
                        </div>
                    </form>
                    <ul id="nav-mobile" class="right">
                        <li><a class="dropdown-button" href="#!"
                               data-activates="dropdown1">{{ request.user.username }}<i
                                class="material-icons right">arrow_drop_down</i></a></li>
                    </ul>
                </div>
            </nav>
            <br>
            <div class="row">

                <div class="centered" ng-cloak="" ng-if="!notes.length">
                    <h5>You didn't note anything!</h5>
                </div>

                <div class="centered">
                    <div class="preloader-wrapper big active" ng-if="!notes && !notes.$resolved">
                        <div class="spinner-layer spinner-blue">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div>
                            <div class="gap-patch">
                                <div class="circle"></div>
                            </div>
                            <div class="circle-clipper right">
                                <div class="circle"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div ng-repeat="note in notes | filter:searchText | reverse track by note.id" ng-cloak="">
                    <div class="col s12 m3">
                        <a href="#detailModal" ng-click="noteDetail(note.id)" class="">
                            <div class="{[{note.color}]}" ng-class="note.images.length ? 'card large' : 'card'">
                                <div class="card-image" ng-if="note.images">
                                    <img ng-repeat="img in note.images | limitTo: 2" src="{[{img.image}]}">
                                </div>
                                <div class="card-content">
                                    <div ng-repeat="label in note.labels" class="collection-item">
                                        <span class="new badge" data-badge-caption="">{[{label.name}]}</span>
                                    </div>
                                    <div ng-repeat="category in note.categories" class="collection-item">
                                        <span class="new badge yellow teal-text text-darken-4" data-badge-caption="">{[{category.name}]}</span>
                                    </div>
                                    <!-- Display budges at the top of notes-->
                                    <i class="badge-pad"></i>
                                    <h6 class="truncate" ng-if="note.title"><b>{[{note.title}]}</b></h6>
                                    <p>{[{note.text | cut:true:100:' ...'}]}</p>
                                </div>
                                <div class="card-action">
                                    <a href="#" ng-click="shareNote(note.id)"
                                       ng-if="note.owner == {{ request.user.id }}">Share</a>
                                    <a href="#" ng-click="editNote(note.id)"
                                       ng-if="note.owner == {{ request.user.id }}">Edit</a>
                                    <a href="#" ng-click="deleteNote(note.id)"
                                       ng-if="note.owner == {{ request.user.id }}">Delete</a>
                                </div>
                            </div>
                        </a>

                    </div>
                </div>
            </div>

            <div class="fixed-action-btn horizontal">
                <!-- Modal Trigger -->
                <a class="btn-floating btn-large waves-effect waves-light red modal-trigger" href="#noteModal"
                   ng-click="clearCurNote()">
                    <i class="large material-icons">mode_edit</i>
                </a>
            </div>
            <!-- Modal Structure -->
            <div id="noteModal" class="modal modal-fixed-footer">
                <div class="row">
                    <form class="col s12" ng-submit="sendNote()" name="noteForm">
                        <div class="modal-content">
                            <div class="row">
                                <div class="input-field">
                                    <div class="input-field col s12">
                                        <input id="title" type="text" class="validate"
                                               ng-model="curNote.title" maxlength="120" length="120">
                                        <label for="title">Note title</label>
                                    </div>
                                    <div class="input-field col s12">
                                        <textarea id="note_text" type="text" required
                                                  class="materialize-textarea" ng-model="curNote.text"></textarea>
                                        <label for="note_text">Note text</label>
                                    </div>
                                    <div class="input-field col s12 m6">
                                        <select multiple id="label_select" ng-model="curNote.labels">
                                            <option value="" disabled selected id="def_l">Set labels</option>
                                            <option ng-repeat="label in labels" ng-value="label">{[{label.name.trim()}]}</option>
                                        </select>
                                        <label for="label_select">Labels</label>
                                    </div>
                                    <div class="input-field col s12 m6">
                                        <select multiple id="category_select" ng-model="curNote.categories">
                                            <option value="" disabled selected>Add categories</option>
                                            <option ng-repeat="category in categories" ng-value="category">{[{makeCategoryTree(category.parent) + category.name}]}</option>
                                        </select>
                                        {[{activateSelect()}]}
                                        <label for="category_select">Categories</label>
                                    </div>
                                    <div class="file-field input-field col s12 m6">
                                        <div class="btn">
                                            <span>File</span>
                                            <input type="file" ngf-max-size="50MB" class="tooltipped"
                                                   data-position="bottom" data-delay="50" data-tooltip="50 MB per note"
                                                   ngf-select="confirmAdd('file', files)" name="file" ngf-model-invalid="errorFile"
                                                   ng-model="files" multiple>
                                        </div>
                                        <div class="file-path-wrapper">
                                            <input class="file-path validate" type="text">
                                        </div>
                                    </div>
                                    <div class="file-field input-field col s12 m6">
                                        <div class="btn">
                                            <span>Image</span>
                                            <input type="file" name="image" ng-model="files" class="tooltipped"
                                                   data-position="bottom" data-delay="50" data-tooltip="50 MB per note"
                                                   accept="image/*" ngf-max-size="50MB" ngf-model-invalid="errorFile"
                                                   ngf-select="confirmAdd('image', files)"
                                                   multiple>
                                        </div>
                                        <div class="file-path-wrapper">
                                            <input class="file-path validate" type="text">
                                        </div>
                                    </div>
                                    <div class="input-field col s12 m4">
                                        <select id="color_select" ng-model="curNote.color">
                                            <option value="" disabled selected>Color</option>
                                            <option ng-repeat="color in colors" value="{[{color.class}]}" class="circle"
                                                    data-icon="/static/images/colors/{[{color.color}]}.png">{[{color.color}]}</option>
                                        </select>
                                        {[{activateSelect()}]}
                                        <label for="color_select">Note color</label>
                                    </div>

                                    <div class="progress" ng-show="progress >= 0 && progress != 100">
                                        <div class="determinate" style="width: {[{progress}]}%"
                                             ng-bind="progress + '%'"></div>
                                    </div>

                                    <div ng-if="errorFile">{[{uploadErrors()}]}</div>

                                    <div class="col s12">
                                        <img ngf-thumbnail="image.image" class="thumb"
                                             ng-repeat="image in curNote.images">
                                    </div>
                                    <div class="col s12">
                                        <span class="new badge white" data-badge-caption=""
                                              ng-repeat="file in curNote.files">
                                            <a href="{[{file.file}]}"><i class="material-icons">description</i>{[{file.file.substring(file.file.lastIndexOf('/')+1)}]}</a>
                                        </span>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="modal-action waves-effect waves-green btn-flat" type="submit">
                                Save
                            </button>
                            <button class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>

            <!-- Label Modal Structure -->
            <div id="labelModal" class="modal">
                <form class="col s12" ng-submit="sendLabel()">
                    <div class="modal-content">
                        <h4>Create/Edit label</h4>
                        <div class="row">
                            <div class="col s12" ng-if="!curLabel.id">
                                Create new label:
                                <div class="input-field inline">
                                    <input id="label" type="text" class="" ng-model="curLabel.name">
                                    <label for="label">Label</label>
                                </div>
                            </div>
                            <div class="col s12" ng-if="curLabel.id">
                                Create new label:
                                <div class="input-field inline">
                                    <input id="label" type="text" class="" ng-model="curLabel.name">
                                    <label for="label">Label</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat"
                                type="submit">
                            Save
                        </button>
                        <button href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Cancel
                        </button>
                    </div>
                </form>
            </div>

            <!-- Detail Modal -->
            <div id="detailModal" class="modal col s12 m4 offset-m2">
                <div class="modal-content">
                    <div class="row">
                        <div ng-repeat="img in curNote.images" class="col s{[{12/curNote.images.length}]}">
                            <a href="{[{img.image}]}"><img src="{[{img.image}]}" class="responsive-img"></a>
                        </div>
                    </div>

                    <br>
                    <h5 ng-if="curNote.title"><b>{[{curNote.title}]}</b></h5>
                    <p>{[{curNote.text}]}</p>
                    <div ng-repeat="label in curNote.labels" class="collection-item">
                        <span class="new badge" data-badge-caption="">{[{label.name}]}</span>
                    </div>
                    <div ng-repeat="category in curNote.categories" class="collection-item">
                        <span class="new badge yellow teal-text text-darken-4"
                              data-badge-caption="">{[{category.name}]}</span>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <span class="new badge white" data-badge-caption=""
                                  ng-repeat="file in curNote.files">
                                <a href="{[{file.file}]}"><i class="material-icons">description</i>{[{file.file.substring(file.file.lastIndexOf('/')+1)}]}</a>
                            </span>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
                </div>
            </div>

            <!-- Share Modal -->
            <div id="shareModal" class="modal">
                <form class="col s12">
                    <div class="modal-content">
                        <h4>Share with...</h4>
                        <div class="row">
                            <div class="col s12">
                                <div class="row">
                                    <div class="input-field col s12">
                                        <i class="material-icons prefix">supervisor_account</i>
                                        <input type="text" id="autocomplete-input" class="autocomplete"
                                               ng-model="shareObj.user">
                                        <label for="autocomplete-input">User name</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat"
                                type="submit" ng-click="sendSharedWith()">
                            Share
                        </button>
                        <button href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Cancel
                        </button>
                    </div>
                </form>
            </div>


            <!-- Share Modal Detail -->
            <div id="shareModalDetail" class="modal">
                <form class="col s12">
                    <div class="modal-content">
                        <div class="row">
                            <div class="col s12">
                                <div class="row">
                                    <ul class="collection with-header"
                                        ng-repeat="note in notes" ng-if="CheckIfShared()">
                                        <li class="collection-item avatar" ng-repeat="user in note.shared_with">
                                            <img src="{% static 'images/note.png' %}" alt="" class="circle">
                                            <span class="title truncate">{[{note.text}]}</span>
                                            <p>Shared with <br>
                                                {[{users[user-1]}]}
                                            </p>
                                            <a href="#!" class="secondary-content"
                                               ng-click="deleteShare(note.id, user)"><i
                                                    class="material-icons">delete</i></a>
                                        </li>
                                    </ul>
                                    <div ng-if="!CheckIfShared()" class="centered">
                                        <h5>You didn't share anything!</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">
                            OK
                        </button>
                    </div>
                </form>
            </div>


            <!-- Category Modal Structure -->
            <div id="CategoryModal" class="modal">
                <form class="col s12" ng-submit="sendCategory()">
                    <div class="modal-content">
                        <h4>Create new category</h4>
                        <div class="row">
                            <div class="col s12">
                                <div class="input-field inline col s8">
                                    <select id="parent" ng-model="curCategory.parent">
                                        <option value="" disabled selected>Select parent category</option>
                                        <option ng-repeat="category in categories" ng-value="category">
                                            {[{makeCategoryTree(category.parent) + category.name}]}
                                    </select>
                                    {[{activateSelect()}]}
                                    <label for="parent">Parent category</label>
                                </div>
                                <div class="input-field inline col s4">
                                    <input id="category" type="text" class="" ng-model="curCategory.name">
                                    <label for="category">Category</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat"
                                type="submit">
                            Save
                        </button>
                        <button href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Cancel
                        </button>
                    </div>
                </form>
            </div>


            <!-- Edit Labels/Categories/Images/Files Modal Structure -->
            <div id="editContent" class="modal">
                <div class="modal-content">
                    <div ng-if="editModalLabels">
                        <h4>Manage labels</h4>
                        <h5 class="centered" ng-if="!labels.length"> You didn't create any label.</h5>
                        <ul class="collection">
                            <li ng-repeat="label in labels" class="collection-item">
                                {[{label.name}]}<a href="#!"
                                                   class="secondary-content"
                                                   ng-click="deleteContent('label', label.id)"><i
                                    class="material-icons">delete</i></a></li>
                        </ul>
                    </div>
                    <div ng-if="editModalCategories">
                        <h5 class="centered" ng-if="!categories.length"> You didn't create any category.</h5>
                        <h4>Manage categories</h4>
                        <ul class="collection">
                            <li ng-repeat="category in categories" class="collection-item">{[{category.name}]}
                                <a href="#!"
                                   class="secondary-content"
                                   ng-click="deleteContent('category', category.id)"><i
                                        class="material-icons">delete</i></a></li>
                        </ul>
                    </div>
                    <div ng-if="editModalImages">
                        <h4>Manage images</h4>
                        <h5 class="centered" ng-if="!images.length"> You didn't upload any image.</h5>
                        <ul class="collection row">
                            <li ng-repeat="img in images" class="collection-item col s12 imageList"><img
                                    src="{[{img.image}]}" class="card-thumb imageItem"/>
                                <a href="#!"
                                   class="secondary-content"
                                   ng-click="deleteContent('image', img.id)"><i
                                        class="material-icons">delete</i></a></li>
                        </ul>
                    </div>
                    <div ng-if="editModalFiles">
                        <h4>Manage files</h4>
                        <h5 class="centered" ng-if="!files.length"> You didn't upload any file.</h5>
                        <ul class="collection" ng-if="files">
                            <li ng-repeat="f in files" class="collection-item">
                                {[{f.file.substring(f.file.lastIndexOf('/')+1)}]}
                                <a href="#!"
                                   class="secondary-content"
                                   ng-click="deleteContent('file', f.id)"><i
                                        class="material-icons">delete</i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Ok</a>
                </div>
            </div>

        </div>
    </div>
</div>


<script src="{% static 'bower_components/angular/angular.min.js' %}"></script>
<script src="{% static 'bower_components/angular-resource/angular-resource.min.js' %}"></script>
<script src="{% static 'bower_components/ng-file-upload/ng-file-upload.min.js' %}"></script>
<script src="{% static 'bower_components/ng-file-upload/ng-file-upload-shim.min.js' %}"></script>
<script src="{% static 'js/noteApp.js' %}"></script>
<script src="{% static 'js/NoteController.js' %}"></script>
<script src="{% static 'js/services.js' %}"></script>
<script src="{% static 'js/filters.js' %}"></script>
</body>
</html>
